{% extends 'main/layout.html' %}

{% block title %}
<title>Главная | Jaus Project</title>
{% endblock %}

{% block content %}
<div class="jumbotron text-center bg-transparent">
    <h1 class="display-4">Добро пожаловать в Jaus Project!</h1>
    <p class="lead">Разработка сайтов и приложений на Django и Flask</p>
    <a class="btn" href="{% url 'about' %}" role="button" style="background-color: #2f4f4f; color: #ffffff;">Подробнее</a>

</div>



<!-- Включаем блок новостей -->
<div class="news-section" style="margin-top: 30px; padding: 20px; border: 1px solid #ddd; border-radius: 8px;">
    {% include 'news/news_list.html' %}
</div>
{% endblock %}
